body,
h3,
a,
p {
	font-family: Poppins, sans-serif;
}

.jumbotron {
	background: #fcf5f5;
	padding: 5% 3% 5% 3%;
}

.input-field,
.input-button,
#copy-link {
	height: 60px;
	font-weight: 600;
	outline: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 0.25rem;
}

.input-field {
	width: 45%;
	padding-left: 25px;
	border: 1px solid black;
}

.input-button {
	width: 25%;
	min-width: 150px;
}

#copy-link {
	background-color: none;
	width: 70%;
	border: 1px solid black;
	padding-left: 25px;
	margin-bottom: 3%;
}

#copy-link:hover {
	cursor: pointer;
}

.fa-copy {
	display: inline-block;
}

@media only screen and (max-width: 900px) {
	.input-button {
		margin-top: 7%;
	}
	.input-field {
		width: 90%;
	}
	#copy-link {
		width: 90%;
	}
}
